/* Responsive Design mobile*/ 

/* Base styles for large screens (desktop) */
.container, .pry {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Medium devices (Desktops & Tablets < 1200px) */
@media (max-width: 1200px) {
    .container, .pry {
        width: 90%;
    }
}

/* Tablets (portrait and landscape) */
@media (max-width: 768px) {
    .title_epep{
        height: 25px;
        font-size: 1.8em;
    }

    footer{
        height: 30px;
        font-size: 1.8em;
    }

    .footer-links {
        font-size: 13px;
        height: auto;
        padding: 6px 0;
    }

    .footer-copy{
        font-size: 12px;
    }

    #homeContent {
        font-size: 0.8em;
        padding: 10px 5px;
        
    }
    .main-intro {
        font-size: 0.7em;
        padding: 10px 5px;
    }

    .content-box {
        width: 89%;
    }

    .pry {
        font-size: 16px;
        margin: 0 10px;
    }

    .container, .pry, .apt-content {
        width: 80%;
    }

    .news-card {
    width: calc(46% - 1px) !important; /* Force 2 columns */
    min-width: 40px !important;
    max-width: calc(40% - 3px) !important; /* 46% for the card text to fit */
    height: 50px;
    margin: 1px 0;
    padding: 3px 1px;
    font-size: 0.8em;
    flex: 0 0 calc(46% - 1px) !important;
    }

    .footer-links {
        font-size: 11px;
        height: auto;
        padding: 6px 0;
    }

    .apt-name{
        font-size: 10px;
    }

    .apt-content{
        font-size: 12px;
    }
}

/* Mobile Phones 480*/
@media (max-width: 480px) {
    nav {
    padding: 6px 0;
    }
    
    .title_epep {
        font-size: 1.8em;
    }
    
/* Explore Indian Newspapers by Language &amp; City */
    #homeContent {
        font-size: 1em;
        padding: 10px 5px;
    }
    .explore {
        font-size: 0.8em;
        padding: 10px 5px;
        margin-top: auto;
    }
    .main-intro {
        font-size: 0.7em;
        padding: 10px 5px;
        margin-top: auto;
    }
    /* news cards responsive */
    .news-card {
    width: calc(46% - 1px) !important; /* Force 2 columns */
    min-width: 45px !important;
    max-width: calc(45% - 3px) !important; /* 46% for the card text to fit */
    height: 50px;
    margin: 1px 0;
    padding: 3px 1px;
    font-size: 0.8em;
    flex: 0 0 calc(46% - 1px) !important;
    }

    nav a {
        display: block;
        margin: 5px 0; /* Stack links on very small screens */
        font-size: 14px;
    }
    .pry{
        display: block;
        margin: 5px 0; /* Stack links on very small screens */
        font-size: 14px;
    }

    .footer-links {
        font-size: 12px;
        height: auto;
        padding: 6px 0;
    }

    .apt-name{
        font-size: 10px;
    }

    .apt-content{
        font-size: 12px;
        margin-top: -50px;
    }

    /* whatsapp */
    .whatsapp-float {
        top: 80px;
    }
}
